{% extends "./index.html" %}
{% load static %}

{% block slide %}

<style>
    body {
        background-image: url('{% static "main/western-union-desktop.jpg" %}');
        background-size: cover;
        background-position: center;
    }
    @media screen and (min-width: 767px) {
        #contentid  {
            margin-top: -30%;
        }
        
    }
</style>
 
{% endblock slide %}



{% block content %}
<div id="contentid" class="global-container zb-w landing  !mt-[-30%]" role="main" aria-label="İçerik" style="padding-bottom: 0px;">

    <div class="sub-page-title">
        <a href="javascript:;" class="oval-btn back-btn icon-left-arrow" tabindex="-1" aria-hidden="true"></a>

        <h1>
            Our Bank
        </h1>

        


        

<div class="breadcrumb noindex" aria-label="Breadcrumb" role="navigation">
<span id="SiteMap1"><span><a title="Main">Main</a></span><span></span><span>
        <a class="dd-box" href="javascript:;">Our Bank</a><span class="dd-content"><a  class="">Retail</a><a href="/en/sme" class="">Commercial</a><a href="/en/corporate" class="">Corporate</a><a href="/en/contact-us" class="">Contact Us</a><a href="/en/our-bank" class="active">Our Bank</a><a href="/en/investor-relations" class="">Investor Relations</a><a href="/en/digital-banking" class="">Digital Banking</a><a href="/en/calculation-tools" class="">Calculation Tools</a><a href="/en/life-long-banking-space" class="">Life Long Banking Space</a><a href="/en/faq" class="">FAQ</a></span>
    </span></span>
</div>
<div class="share-wrap noindex"><a href="javascript:;" class="oval-btn bi bi-share"><span class="sr-only">Share on social media</span></a><div class="animate"><div></div></div><div class="share-box"><span>SHARE</span><div class="pull-right"><a href="javascript:;" class="bi bi-facebook"><span class="sr-only">Share on Facebook</span></a><a href="javascript:;" class="bi bi-twitter"><span class="sr-only">Share on Twitter</span></a><div class="clearfix"></div></div></div></div>

    </div>
    <menu class="ms-hide">
<ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif" onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))" text="Help" type="option" style="display:none">

</ie:menuitem>
</menu>
    <div id="ContentSection" data-module="landing">


        <div id="landingNav" class="row hidden-sm hidden-xs height-wrap" style="height: auto;">
            <div class="loader"></div>
        

    
    
        
    <div class="height-wrap"><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 1005.33px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>About Us</span></h2>
            
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Subpage/bankamiz/hakkimizda/Gunumuzde_Ziraat_Bankasi.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            
            <ul class="link-col-1 clearfix">
                
                
                <li class="active">
                    <a   target="_self"> {{site.name}}Bank Today</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">History of Our Bank</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Ceo’s Message</a>
                </li>
                
                
                
                <li class="level active">
                    <span> {{site.name}}Finance Group</span>
                    <ul>
                        
                        <li class="active"><a    target="_self">Local Subsidiaries</a></li>
                        
                        <li class="active"><a    target="_self">Subsidiaries Abroad, Overseas Branches and Representative Offices</a></li>
                        
                        <li class="active"><a    target="_self">Other Domestic Subsidiaries</a></li>
                        
                    </ul>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Vision &amp; Mission</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Board of Directors</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Senior Management</a>
                </li>
                
                
                
                <li class="level active">
                    <span>Our Organizational Structure</span>
                    <ul>
                        
                        <li class="active"><a    target="_self">General Directorate</a></li>
                        
                    </ul>
                </li>
                
                
            </ul>
            
            
        </div>
        
    </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 1005.33px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Culture and Art</span></h2>
            
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Kultur_ve_sanat.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            
            <ul class="link-col-1 clearfix">
                
                
                <li class="active">
                    <a   target="_self"> {{site.name}}Bank Museum</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Painting Collection</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Galleries</a>
                </li>
                
                
            </ul>
            
            
        </div>
        
    </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 1005.33px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Sustainability</span></h2>
            
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Surdurulebilirlik.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            
            <ul class="link-col-1 clearfix">
                
                
                <li class="level active">
                    <span>Our Policies</span>
                    <ul>
                        
                        <li class="active"><a    target="_self">Sustainability Policy</a></li>
                        
                        <li class="active"><a     target="_self">Environmental and Social Impact Management Policy in Lending Activities</a></li>
                        
                    </ul>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">A Sustainable Future</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Our Stakeholders</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self"> {{site.name}}Bank and Community</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Training</a>
                </li>
                
                
                
                <li class="active">
                    <a  target="_self">Environmentally Friendly Applications</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Awards</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Our Sustainability Reportings</a>
                </li>
                
                
                
                <li class="level active">
                    <span>Sustainable Finance</span>
                    <ul>
                        
                        <li class="active"><a   target="_self">Sustainable Finance Framework 2024</a></li>
                        
                        <li class="active"><a    target="_self">Second-Party Opinion 2024</a></li>
                        
                        <li class="active"><a    target="_self">Green, Social, Sustainable Finance Framework 2020</a></li>
                        
                        <li class="active"><a    target="_self">Second-Party Opinion 2020</a></li>
                        
                        <li class="active"><a    target="_self"> {{site.name}}Bank Sustainability Bond Allocation Report 2021</a></li>
                        
                        <li class="active"><a    target="_self"> {{site.name}}Bank Sustainability Bond Impact Report 2021</a></li>
                        
                        <li class="active"><a    target="_self"> {{site.name}}Bank ESG and Sustainability Investor Presentation</a></li>
                        
                    </ul>
                </li>
                
                
            </ul>
            
            
        </div>
        
    </div></div>
    
    
    
        
    
    
    
    
        
    
    
    
    
        
    <div class="height-wrap"><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 386.333px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Press Room</span></h2>
            
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Basin_Odasi.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            
            <ul class="link-col-1 clearfix">
                
                
                <li class="active">
                    <a   target="_self">News &amp; Announcements</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self"> {{site.name}}Novelties</a>
                </li>
                
                
                
                <li class="active">
                    <a  target="_self">Visuals Gallery</a>
                </li>
                
                
            </ul>
            
            
        </div>
        
    </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 386.333px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Announcements</span></h2>
            
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Duyurular_ve_Aciklamalar.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            
            <ul class="link-col-1 clearfix">
                
                
                <li class="active">
                    <a target="_self">Disclosure Of Protection Of Personal Data</a>
                </li>
                
                
            </ul>
            
            
        </div>
        
    </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 386.333px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Customer Relations</span></h2>
            
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Bilgilemdirme_Politikasi.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            
            <ul class="link-col-1 clearfix">
                
                
                <li class="active">
                    <a  target="_self">Contact Form</a>
                </li>
                
                
                
                <li class="active">
                    <a  target="_self">IBAN Calculation</a>
                </li>
                
                
            </ul>
            
            
        </div>
        
    </div></div>
    
    
    
        
    
    
    
    
        
    
    
    
    
        
    <div class="height-wrap"><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 429.333px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Human Resources</span></h2>
            
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Ziraatli_Olmak2.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            
            <ul class="link-col-1 clearfix">
                
                
                <li class="active">
                    <a   target="_self">Being One Of Us</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">A Career at Ziraat</a>
                </li>
                
                
                
                <li class="active">
                    <a   target="_self">Training &amp; Development</a>
                </li>
                
                
                
                <li class="active">
                    <a  target="_self">Announcements</a>
                </li>
                
                
            </ul>
            
            
        </div>
        
    </div></div>
    
    

</div>
        <div id="landingNavMobile" class="row hidden-lg hidden-md">

    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>About Us</span></h2>
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Subpage/bankamiz/hakkimizda/Gunumuzde_Ziraat_Bankasi.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            <ul>
                
                <li class="active">
                    
                    <a   target="_self"> {{site.name}}Bank Today</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">History of Our Bank</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Ceo’s Message</a>
                    
                </li>
                
                <li class="active">
                    
                    <span> {{site.name}}Finance Group</span>
                    <ul>
                        
                        <li class="active"><a   target="_self">Local Subsidiaries</a></li>
                        
                        <li class="active"><a    target="_self">Subsidiaries Abroad, Overseas Branches and Representative Offices</a></li>
                        
                        <li class="active"><a  target="_self">Other Domestic Subsidiaries</a></li>
                        
                    </ul>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Vision &amp; Mission</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Board of Directors</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Senior Management</a>
                    
                </li>
                
                <li class="active">
                    
                    <span>Our Organizational Structure</span>
                    <ul>
                        
                        <li class="active"><a    target="_self">General Directorate</a></li>
                        
                    </ul>
                    
                </li>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Culture and Art</span></h2>
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Kultur_ve_sanat.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            <ul>
                
                <li class="active">
                    
                    <a   target="_self"> {{site.name}}Bank Museum</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Painting Collection</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Galleries</a>
                    
                </li>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Sustainability</span></h2>
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Surdurulebilirlik.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            <ul>
                
                <li class="active">
                    
                    <span>Our Policies</span>
                    <ul>
                        
                        <li class="active"><a   target="_self">Sustainability Policy</a></li>
                        
                        <li class="active"><a   target="_self">Environmental and Social Impact Management Policy in Lending Activities</a></li>
                        
                    </ul>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">A Sustainable Future</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Our Stakeholders</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self"> {{site.name}}Bank and Community</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Training</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Environmentally Friendly Applications</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Awards</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Our Sustainability Reportings</a>
                    
                </li>
                
                <li class="active">
                    
                    <span>Sustainable Finance</span>
                    <ul>
                        
                        <li class="active"><a   target="_self">Sustainable Finance Framework 2024</a></li>
                        
                        <li class="active"><a   target="_self">Second-Party Opinion 2024</a></li>
                        
                        <li class="active"><a   target="_self">Green, Social, Sustainable Finance Framework 2020</a></li>
                        
                        <li class="active"><a   target="_self">Second-Party Opinion 2020</a></li>
                        
                        <li class="active"><a   target="_self"> {{site.name}}Bank Sustainability Bond Allocation Report 2021</a></li>
                        
                        <li class="active"><a   target="_self"> {{site.name}}Bank Sustainability Bond Impact Report 2021</a></li>
                        
                        <li class="active"><a  target="_self"> {{site.name}}Bank ESG and Sustainability Investor Presentation</a></li>
                        
                    </ul>
                    
                </li>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Press Room</span></h2>
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Basin_Odasi.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            <ul>
                
                <li class="active">
                    
                    <a   target="_self">News &amp; Announcements</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self"> {{site.name}}Novelties</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Visuals Gallery</a>
                    
                </li>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Announcements</span></h2>
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Duyurular_ve_Aciklamalar.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            <ul>
                
                <li class="active">
                    
                    <a   target="_self">Disclosure Of Protection Of Personal Data</a>
                    
                </li>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Customer Relations</span></h2>
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Bilgilemdirme_Politikasi.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            <ul>
                
                <li class="active">
                    
                    <a   target="_self">Contact Form</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">IBAN Calculation</a>
                    
                </li>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><span>Human Resources</span></h2>
            
            
            
            <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/bankamiz/Ziraatli_Olmak2.jpg)" tabindex="-1" aria-hidden="true"></span>
            
            
            
            <ul>
                
                <li class="active">
                    
                    <a   target="_self">Being One Of Us</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">A Career at Ziraat</a>
                    
                </li>
                
                <li class="active">
                    
                    <a   target="_self">Training &amp; Development</a>
                    
                </li>
                
                <li class="active">
                    
                    <a  target="_self">Announcements</a>
                    
                </li>
                
            </ul>
        </div>
        
    </div>
    

</div>
    </div>

</div>

       
{% endblock content %}