{% extends "./index.html" %}
{% load static %}

{% block slide %}

<style>
    body {
        background-image: url('{% static "main/western-union-desktop.jpg" %}');
        background-size: cover;
        background-position: center;
    }
</style>
 
{% endblock slide %}



{% block content %}

<div class="global-container zb-w landing" role="main"  aria-label="İçerik" style="padding-bottom: 0px;margin-top: -30%;">


        <div class="sub-page-title">
            <a name="javascript:;" class="oval-btn back-btn icon-left-arrow" tabindex="-1" aria-hidden="true"></a>

            <h1>
                Calculation Tools
            </h1>

            


            

<div class="breadcrumb noindex" aria-label="Breadcrumb" role="navigation">
	<span id="SiteMap1"><span><a name="/en" title="Main">Main</a></span><span></span><span>
			<a class="dd-box" name="javascript:;">Calculation Tools</a><span class="dd-content"><a name="/en/retail" class="">Retail</a><a name="/en/sme" class="">Commercial</a><a name="/en/corporate" class="">Corporate</a><a name="/en/contact-us" class="">Contact Us</a><a name="/en/our-bank" class="">Our Bank</a><a name="/en/investor-relations" class="">Investor Relations</a><a name="/en/digital-banking" class="">Digital Banking</a><a name="/en/calculation-tools" class="active">Calculation Tools</a><a name="/en/life-long-banking-space" class="">Life Long Banking Space</a><a name="/en/faq" class="">FAQ</a></span>
		</span></span>
</div>

            <div class="share-wrap noindex"><a name="javascript:;" class="oval-btn icon-share"><span class="sr-only">Share on social media</span></a><div class="animate"><div></div></div><div class="share-box"><span>SHARE</span><div class="pull-right"><a name="javascript:;" class="icon-sm-facebook"><span class="sr-only">Share on Facebook</span></a><a name="javascript:;" class="icon-sm-twitter"><span class="sr-only">Share on Twitter</span></a><div class="clearfix"></div></div></div></div>

        </div>
        <menu class="ms-hide">
	<ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif" onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))" text="Help" type="option" style="display:none">

	</ie:menuitem>
</menu>
        <div id="ContentSection" data-module="landing">


            <div id="landingNav" class="row hidden-sm hidden-xs height-wrap" style="height: auto;">
                <div class="loader"></div>
            

        
        
            
        <div class="height-wrap"><div class="height-wrap"><div class="col-md-12 col-sm-6 col-xs-12 height-columns" data-col="12" style="height: 258px;">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><span>Loan Calculation</span></h2>
                
                
                <div class="row">
                    <div class="col-sm-6">
                        
                        
                        <ul class="link-col-1 clearfix">
                            
                            
                            <li class="active">
                                <a name="/en/calculation-tools/loan-calculation/consumer-loan" target="_self">Consumer Loan</a>
                            </li>
                            
                            
                            
                            <li class="active">
                                <a name="/en/calculation-tools/loan-calculation/vehicle-loan" target="_self">Vehicle Loan</a>
                            </li>
                            
                            
                            
                            <li class="active">
                                <a name="/en/calculation-tools/loan-calculation/home-loan" target="_self">Home Loan</a>
                            </li>
                            
                            
                        </ul>
                        
                    </div>
                    
                    <div class="col-sm-6">
                        
                        <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/hesaplamaAraclari/Kredi_Hesaplama.jpg)" tabindex="-1" aria-hidden="true"></span>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div></div></div>
        
        
        
            
        <div class="height-wrap"><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><a name="/en/calculation-tools/deposit-calculator" target="_self">Deposit Calculator</a></h2>
                
                
                
                
                <a name="/en/calculation-tools/deposit-calculator" class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/hesaplamaAraclari/Mevduat_Getirisi_Hesaplama.jpg)" tabindex="-1" aria-hidden="true"></a>
                
                
                
                
                
            </div>
            
        </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><a name="/en/calculation-tools/foreign-exchange-converter" target="_self">Foreign-Exchange Converter</a></h2>
                
                
                
                
                <a name="/en/calculation-tools/foreign-exchange-converter" class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/hesaplamaAraclari/Doviz_Cevirici.jpg)" tabindex="-1" aria-hidden="true"></a>
                
                
                
                
                
            </div>
            
        </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><a name="/en/calculation-tools/iban" target="_self">IBAN</a></h2>
                
                
                
                
                <a name="/en/calculation-tools/iban" class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/hesaplamaAraclari/IBAN_Sorgulama.jpg)" tabindex="-1" aria-hidden="true"></a>
                
                
                
                
                
            </div>
            
        </div></div>
        
        
        
            
        
        
        
        
            
        
        
        

    </div>
            <div id="landingNavMobile" class="row hidden-lg hidden-md">

        
        <div class="col-xs-12 mB30">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><span>Loan Calculation</span></h2>
                
                
                
                <span class="img-box" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/hesaplamaAraclari/Kredi_Hesaplama.jpg)" tabindex="-1" aria-hidden="true"></span>
                
                
                
                <ul>
                    
                    <li class="active">
                        
                        <a name="/en/calculation-tools/loan-calculation/consumer-loan" target="_self">Consumer Loan</a>
                        
                    </li>
                    
                    <li class="active">
                        
                        <a name="/en/calculation-tools/loan-calculation/vehicle-loan" target="_self">Vehicle Loan</a>
                        
                    </li>
                    
                    <li class="active">
                        
                        <a name="/en/calculation-tools/loan-calculation/home-loan" target="_self">Home Loan</a>
                        
                    </li>
                    
                </ul>
            </div>
            
        </div>
        
        <div class="col-xs-12 mB30">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><a name="/en/calculation-tools/deposit-calculator" target="_self">Deposit Calculator</a></h2>
                
                
                
                <a name="/en/calculation-tools/deposit-calculator" class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/hesaplamaAraclari/Mevduat_Getirisi_Hesaplama.jpg)" tabindex="-1" aria-hidden="true"></a>
                
                
                
                <ul>
                    
                </ul>
            </div>
            
        </div>
        
        <div class="col-xs-12 mB30">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><a name="/en/calculation-tools/foreign-exchange-converter" target="_self">Foreign-Exchange Converter</a></h2>
                
                
                
                <a name="/en/calculation-tools/foreign-exchange-converter" class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/hesaplamaAraclari/Doviz_Cevirici.jpg)" tabindex="-1" aria-hidden="true"></a>
                
                
                
                <ul>
                    
                </ul>
            </div>
            
        </div>
        
        <div class="col-xs-12 mB30">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><a name="/en/calculation-tools/iban" target="_self">IBAN</a></h2>
                
                
                
                <a name="/en/calculation-tools/iban" class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/hesaplamaAraclari/IBAN_Sorgulama.jpg)" tabindex="-1" aria-hidden="true"></a>
                
                
                
                <ul>
                    
                </ul>
            </div>
            
        </div>
        

    </div>
        </div>

    </div>
       
{% endblock content %}