{% extends "./index.html" %}
{% load static %}

{% block slide %}

<style>
    body {
        background-image: url('{% static "main/western-union-desktop.jpg" %}');
        background-size: cover;
        background-position: center;
    }
</style>
 
{% endblock slide %}



{% block content %}

<div class="global-container zb-w landing" role="main"  aria-label="İçerik" style="padding-bottom: 0px;margin-top: -30%;">

    <div class="sub-page-title">
        <a href="javascript:;" class="oval-btn  bi bi-left-arrow  " tabindex="-1" aria-hidden="true"></a>

        <h1>
            Commercial
        </h1>

        


        

<div class="breadcrumb noindex" aria-label="Breadcrumb" role="navigation">
<span id="SiteMap1"><span><a   title="Main">Main</a></span><span></span><span>
        <a class="dd-box" href="javascript:;">Commercial</a><span class="dd-content"><a  class="">Retail</a><a href="/en/sme" class="active">Commercial</a><a href="/en/corporate" class="">Corporate</a><a href="/en/contact-us" class="">Contact Us</a><a href="/en/our-bank" class="">Our Bank</a><a href="/en/investor-relations" class="">Investor Relations</a><a href="/en/digital-banking" class="">Digital Banking</a><a href="/en/calculation-tools" class="">Calculation Tools</a><a  class="">Life Long Banking Space</a><a  class="">FAQ</a></span>
    </span></span>
</div>

        <div class="share-wrap noindex"><a href="javascript:;" class="oval-btn bi bi-share"><span class="sr-only">Share on social media</span></a><div class="animate"><div></div></div><div class="share-box"><span>SHARE</span><div class="pull-right"><a href="javascript:;" class="bi bi-facebook"><span class="sr-only">Share on Facebook</span></a><a href="javascript:;" class="bi bi-twitter"><span class="sr-only">Share on Twitter</span></a><div class="clearfix"></div></div></div></div>

    </div>
    <div class="ms-webpart-zone ms-fullWidth">
<div id="MSOZoneCell_WebPartctl00_ctl45_g_8ec307cc_3dbc_4c5a_b6ca_d7bfc0f13705" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
    <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
        <div webpartid="8ec307cc-3dbc-4c5a-b6ca-d7bfc0f13705" haspers="false" id="WebPartctl00_ctl45_g_8ec307cc_3dbc_4c5a_b6ca_d7bfc0f13705" width="100%" class="ms-WPBody " allowdelete="false" allowexport="false" style=""><div id="ctl00_ctl45_g_8ec307cc_3dbc_4c5a_b6ca_d7bfc0f13705">
            
    
            <div class="landing-slider-container">
                <div class="row">
                    <div class="landing-banner col-xs-12">
                        <div class="landing-slider">
                            <div class="owl-carousel owl-loaded owl-drag">
        
            
        
            
        
            
        
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2278px, 0px, 0px); transition: all; width: 7976px;"><div class="owl-item cloned" data-style="width: 1139.33px;" style="width: 1139.33px;"><div class="ls-item">
                <div class="slider-item-img">
                    <a href="" aria-hidden="true" tabindex="-1" target="">
                        <img src="https://www.ziraatbank.com.tr/en/CategoryBanners/sme/Girisimciye_Deger_Kredisi.jpg" alt="Entrepreneurial Support Loan from Ziraat" class="img-responsive"></a>
                </div>
                <div class="slider-item-text">
                    <h2><a href="" target="">Entrepreneurial Support Loan from Ziraat</a></h2>
                    <p><a href="" aria-hidden="true" tabindex="-1" target=""></a></p>
                </div>
            </div></div><div class="owl-item cloned" data-style="width: 1139.33px;" style="width: 1139.33px;"><div class="ls-item">
                <div class="slider-item-img">
                    <a href="" aria-hidden="true" tabindex="-1" target="">
                        <img src="https://www.ziraatbank.com.tr/en/CategoryBanners/sme/ziraatin-gucu-kobi.jpg" alt=" {{site.name}}and Europe combine forces for SMEs" class="img-responsive"></a>
                </div>
                <div class="slider-item-text">
                    <h2><a href="" target=""> {{site.name}}and Europe combine forces for SMEs</a></h2>
                    <p><a href="" aria-hidden="true" tabindex="-1" target=""></a></p>
                </div>
            </div></div><div class="owl-item active" style="width: 1139.33px;"><div class="ls-item">
                <div class="slider-item-img">
                    <a href="" aria-hidden="true" tabindex="-1" target="">
                        <img src="https://www.ziraatbank.com.tr/en/CategoryBanners/sme/girisimci1.jpg" alt="Much More in  {{site.name}}for Your Loan Needs, guaranteed by KGF!" class="img-responsive"></a>
                </div>
                <div class="slider-item-text">
                    <h2><a href="" target="">Much More in  {{site.name}}for Your Loan Needs, guaranteed by KGF!</a></h2>
                    <p><a href="" aria-hidden="true" tabindex="-1" target=""></a></p>
                </div>
            </div></div><div class="owl-item" style="width: 1139.33px;"><div class="ls-item">
                <div class="slider-item-img">
                    <a href="" aria-hidden="true" tabindex="-1" target="">
                        <img src="https://www.ziraatbank.com.tr/en/CategoryBanners/sme/Girisimciye_Deger_Kredisi.jpg" alt="Entrepreneurial Support Loan from Ziraat" class="img-responsive"></a>
                </div>
                <div class="slider-item-text">
                    <h2><a href="" target="">Entrepreneurial Support Loan from Ziraat</a></h2>
                    <p><a href="" aria-hidden="true" tabindex="-1" target=""></a></p>
                </div>
            </div></div><div class="owl-item" style="width: 1139.33px;"><div class="ls-item">
                <div class="slider-item-img">
                    <a href="" aria-hidden="true" tabindex="-1" target="">
                        <img src="https://www.ziraatbank.com.tr/en/CategoryBanners/sme/ziraatin-gucu-kobi.jpg" alt=" {{site.name}}and Europe combine forces for SMEs" class="img-responsive"></a>
                </div>
                <div class="slider-item-text">
                    <h2><a href="" target=""> {{site.name}}and Europe combine forces for SMEs</a></h2>
                    <p><a href="" aria-hidden="true" tabindex="-1" target=""></a></p>
                </div>
            </div></div><div class="owl-item cloned" data-style="width: 1139.33px;" style="width: 1139.33px;"><div class="ls-item">
                <div class="slider-item-img">
                    <a href="" aria-hidden="true" tabindex="-1" target="">
                        <img src="https://www.ziraatbank.com.tr/en/CategoryBanners/sme/girisimci1.jpg" alt="Much More in  {{site.name}}for Your Loan Needs, guaranteed by KGF!" class="img-responsive"></a>
                </div>
                <div class="slider-item-text">
                    <h2><a href="" target="">Much More in  {{site.name}}for Your Loan Needs, guaranteed by KGF!</a></h2>
                    <p><a href="" aria-hidden="true" tabindex="-1" target=""></a></p>
                </div>
            </div></div><div class="owl-item cloned" data-style="width: 1139.33px;" style="width: 1139.33px;"><div class="ls-item">
                <div class="slider-item-img">
                    <a href="" aria-hidden="true" tabindex="-1" target="">
                        <img src="https://www.ziraatbank.com.tr/en/CategoryBanners/sme/Girisimciye_Deger_Kredisi.jpg" alt="Entrepreneurial Support Loan from Ziraat" class="img-responsive"></a>
                </div>
                <div class="slider-item-text">
                    <h2><a href="" target="">Entrepreneurial Support Loan from Ziraat</a></h2>
                    <p><a href="" aria-hidden="true" tabindex="-1" target=""></a></p>
                </div>
            </div></div></div></div><div class="owl-nav"><div class="owl-prev">Prev</div><div class="owl-next">Next</div></div></div>
            <div class="owl-controls">
                <div class="owl-buttons"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div>
            </div>
            </div>
            </div>
        </div>
    </div>
        


        </div><div class="ms-clear"></div></div>
    </div>
</div>
</div>
    <div id="ContentSection" data-module="landing">
    

        <div id="landingNav" class="row hidden-sm hidden-xs height-wrap" style="height: auto;">
            <div class="loader"></div>
        

    
    
        
    <div class="height-wrap"><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Accounts</a></h2>
            
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Vadesiz_Hesap.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            
            
        </div>
        
    </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Cards</a></h2>
            
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Basak_Kartlar.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            
            
        </div>
        
    </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Loans</a></h2>
            
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Nakdi_Kredi.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            
            
        </div>
        
    </div></div>
    
    
    
        
    
    
    
    
        
    
    
    
    
        
    <div class="height-wrap"><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Foreign Trade</a></h2>
            
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/kurumsal/Dis_Ticaret_Hizmetleri.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            
            
        </div>
        
    </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Cash Management</a></h2>
            
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Dogrudan_Borclandirma_Sistemi.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            
            
        </div>
        
    </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a target="_self">POS Services</a></h2>
            
            
            
            
            <a class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/POS_Uygulamalari.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            
            
        </div>
        
    </div></div>
    
    
    
        
    
    
    
    
        
    
    
    
    
        
    <div class="height-wrap"><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Investment</a></h2>
            
            
                
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Yatirim_Fonlari.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            
            
        </div>
        
    </div><div class="col-md-4 col-sm-6 col-xs-12 height-columns" data-col="4" style="height: 258px;">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Agriculture</a></h2>
            
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Tarim.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            
            
        </div>
        
    </div></div>
    
    
    
        
    
    
    

</div>
        <div id="landingNavMobile" class="row hidden-lg hidden-md">

    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Accounts</a></h2>
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Vadesiz_Hesap.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            <ul>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Cards</a></h2>
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Basak_Kartlar.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            <ul>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Loans</a></h2>
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Nakdi_Kredi.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            <ul>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Foreign Trade</a></h2>
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/kurumsal/Dis_Ticaret_Hizmetleri.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            <ul>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Cash Management</a></h2>
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Dogrudan_Borclandirma_Sistemi.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            <ul>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a target="_self">POS Services</a></h2>
            
            
            
            <a class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/POS_Uygulamalari.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            <ul>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Investment</a></h2>
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Yatirim_Fonlari.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            <ul>
                
            </ul>
        </div>
        
    </div>
    
    <div class="col-xs-12 mB30">
         
        <div class="landing-item-box" style="display: block;">
            
            <h2><a  target="_self">Agriculture</a></h2>
            
            
            
            <a  class="img-box" target="_self" style="background-image:url(https://www.ziraatbank.com.tr/PublishingImages/Landing/girisimci/Tarim.jpg)" tabindex="-1" aria-hidden="true"></a>
            
            
            
            <ul>
                
            </ul>
        </div>
        
    </div>
    

</div>
    </div>
                    
</div>

       
{% endblock content %}