{% extends "./index.html" %}
{% load static %}

{% block slide %}

<style>
    body {
        background-image: url('{% static "main/western-union-desktop.jpg" %}');
        background-size: cover;
        background-position: center;
    }
</style>
 
{% endblock slide %}



{% block content %}

<div class="global-container zb-w landing" role="main"  aria-label="İçerik" style="padding-bottom: 0px;margin-top: -30%;">


		<div class="sub-page-title">
			<a href="javascript:;" class="oval-btn back-btn icon-left-arrow" tabindex="-1" aria-hidden="true"></a>

			<h1>
			Contact Form</h1>
			

			

<div class="breadcrumb noindex" aria-label="Breadcrumb" role="navigation">
	<span id="SiteMap1"><span><a href="/en" title="Main">Main</a></span><span></span><span><span class="noclick">Contact Us</span></span><span></span><span>
			<a class="dd-box" href="javascript:;">Contact Form</a><span class="dd-content"><a href="/en/contact-us/branches-atms" class="">Branches &amp; ATMs</a><a href="/en/contact-us/contact-form" class="active">Contact Form</a></span>
		</span></span>
</div>

			<div class="share-wrap noindex"><a href="javascript:;" class="oval-btn icon-share"><span class="sr-only">Share on social media</span></a><div class="animate"><div></div></div><div class="share-box"><span>SHARE</span><div class="pull-right"><a href="javascript:;" class="icon-sm-facebook"><span class="sr-only">Share on Facebook</span></a><a href="javascript:;" class="icon-sm-twitter"><span class="sr-only">Share on Twitter</span></a><div class="clearfix"></div></div></div></div>

		</div>
		
		<div class="sub-page-container m-padding-none">
			<div class="row">
				<div class="sub-page-content col-xs-12">
					
					<div class="form-page-wrapper" aria-label="Contact Form" role="form">
						<div id="ctl00_PlaceHolderMain_ctl04_label" style="display:none">Page Content</div><div id="ctl00_PlaceHolderMain_ctl04__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl04_label"></div>
						<div class="ms-webpart-zone ms-fullWidth">
	<div id="MSOZoneCell_WebPartctl00_ctl45_g_11515d43_1242_45d1_bc15_54ebcd03d83e" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
		<div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
			<div webpartid="11515d43-1242-45d1-bc15-54ebcd03d83e" haspers="false" id="WebPartctl00_ctl45_g_11515d43_1242_45d1_bc15_54ebcd03d83e" width="100%" class="ms-WPBody " allowdelete="false" allowexport="false" style=""><div id="ctl00_ctl45_g_11515d43_1242_45d1_bc15_54ebcd03d83e">
				
		<div class="form-box" data-module="iletisimFormu">
			<div class="row">
				<div class="form-item col-xs-12">
					<label for="ddlIletisimTipi">Application Type</label>
					<div class="select-box">
						<select name="ctl00$ctl45$g_11515d43_1242_45d1_bc15_54ebcd03d83e$ctl00$ddlIletisimTipi" id="ddlIletisimTipi" required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
					<option value="">Please choose</option>
					<option value="MEM">Appreciation</option>
					<option value="ITR">Complaint</option>
					<option value="SKY">Objection</option>
					<option value="IST">Request</option>
					<option value="ONR">Suggestion</option>

				</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ddlIletisimTipi-container"><span class="select2-selection__rendered" id="select2-ddlIletisimTipi-container" title="Please choose">Please choose</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
					</div>
				</div>
				<div id="contact-subject" class="form-item col-xs-12">
					<label for="ddlKonu">Topic</label>
					<div class="select-box">
						<select id="ddlKonu" name="ddlKonu" required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true"></select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ddlKonu-container"><span class="select2-selection__rendered" id="select2-ddlKonu-container"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
					</div>
				</div>
				<div id="contact-sub-subject" class="form-item col-xs-12">
					<label for="ddlKonu">Sub Topic</label>
					<div class="select-box">
						<select id="ddlAltKonu" name="ddlAltKonu" required="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true"></select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ddlAltKonu-container"><span class="select2-selection__rendered" id="select2-ddlAltKonu-container"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
					</div>
				</div>
				<div class="form-item col-xs-12">
					<label for="name">Name</label>
					<div class="input">
						<input type="text" class="required only-letter" name="name" id="name" autocomplete="off" maxlength="25">
					</div>
				</div>
				<div class="form-item col-xs-12">
					<label for="surname">Surname</label>
					<div class="input">
						<input type="text" class="required only-letter" name="surname" id="surname" autocomplete="off" maxlength="25">
					</div>
				</div>
				<div class="form-item col-xs-12">
					<label for="tckn">Identity Card No</label>
					<div class="input">
						<input type="tel" class="only-number tcknBasvuru" maxlength="11" name="tckn" id="tckn" autocomplete="off">
					</div>
				</div>
				<div class="form-item col-xs-12">
					<label for="iletisimTercihi">Choice of Communication</label>
					<div class="select-box">
						<select required="" name="iletisimTercihi" id="iletisimTercihi" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
							<option value="">Choose</option>
							<option value="5">Email</option>
							<option value="2">Phone</option>
						</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-iletisimTercihi-container"><span class="select2-selection__rendered" id="select2-iletisimTercihi-container" title="Choose">Choose</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
					</div>
				</div>
				<div class="form-item col-xs-12">
					<label for="eposta">Email Address</label>
					<div class="input">
						<input type="email" name="eposta" id="eposta" autocomplete="off">
					</div>
				</div>
				<div class="form-item col-xs-12">
					<label for="phoneTownCode">Mobile Phone <span>(+90-5xx-xxxxxxx)</span></label>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<div class="input plus-txt active">
								<input type="tel" class="required only-number enPhone" minlength="2" maxlength="3" name="phoneTownCode" id="phoneTownCode" autocomplete="off" value="90">
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
							<div class="input">
								<input type="tel" class="required only-number enPhone startswith" minlength="3" maxlength="3" name="phoneCode" id="phoneCode" autocomplete="off">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
							<div class="input">
								<input type="tel" class="required only-number enPhone" minlength="7" maxlength="7" name="phoneNumber" id="phoneNumber" autocomplete="off">
							</div>
						</div>
					</div>
				</div>
				<div class="form-item col-xs-12">
					<label for="ddlPhoneCodes">Phone</label>
					<div class="row">
						<div class="form-item col-lg-4 col-md-4 col-sm-4 col-xs-5">
							<div class="select-box">
								<select name="ctl00$ctl45$g_11515d43_1242_45d1_bc15_54ebcd03d83e$ctl00$ddlPhoneCodes" id="ddlPhoneCodes" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
					<option value="212">212</option>
					<option value="216">216</option>
					<option value="222">222</option>
					<option value="224">224</option>
					<option value="226">226</option>
					<option value="228">228</option>
					<option value="232">232</option>
					<option value="236">236</option>
					<option value="242">242</option>
					<option value="246">246</option>
					<option value="248">248</option>
					<option value="252">252</option>
					<option value="256">256</option>
					<option value="258">258</option>
					<option value="262">262</option>
					<option value="264">264</option>
					<option value="266">266</option>
					<option value="272">272</option>
					<option value="274">274</option>
					<option value="276">276</option>
					<option value="282">282</option>
					<option value="284">284</option>
					<option value="286">286</option>
					<option value="288">288</option>
					<option value="312">312</option>
					<option value="318">318</option>
					<option value="322">322</option>
					<option value="324">324</option>
					<option value="324">324</option>
					<option value="326">326</option>
					<option value="326">326</option>
					<option value="328">328</option>
					<option value="328">328</option>
					<option value="332">332</option>
					<option value="332">332</option>
					<option value="338">338</option>
					<option value="342">342</option>
					<option value="344">344</option>
					<option value="346">346</option>
					<option value="348">348</option>
					<option value="352">352</option>
					<option value="354">354</option>
					<option value="356">356</option>
					<option value="358">358</option>
					<option value="362">362</option>
					<option value="364">364</option>
					<option value="366">366</option>
					<option value="368">368</option>
					<option value="370">370</option>
					<option value="372">372</option>
					<option value="374">374</option>
					<option value="376">376</option>
					<option value="378">378</option>
					<option value="380">380</option>
					<option value="382">382</option>
					<option value="384">384</option>
					<option value="386">386</option>
					<option value="388">388</option>
					<option value="392">392</option>
					<option value="412">412</option>
					<option value="414">414</option>
					<option value="416">416</option>
					<option value="422">422</option>
					<option value="424">424</option>
					<option value="426">426</option>
					<option value="428">428</option>
					<option value="432">432</option>
					<option value="434">434</option>
					<option value="436">436</option>
					<option value="438">438</option>
					<option value="442">442</option>
					<option value="446">446</option>
					<option value="452">452</option>
					<option value="454">454</option>
					<option value="456">456</option>
					<option value="458">458</option>
					<option value="462">462</option>
					<option value="464">464</option>
					<option value="466">466</option>
					<option value="472">472</option>
					<option value="474">474</option>
					<option value="476">476</option>
					<option value="478">478</option>
					<option value="482">482</option>
					<option value="484">484</option>
					<option value="486">486</option>
					<option value="488">488</option>
					<option value="850">850</option>

				</select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ddlPhoneCodes-container"><span class="select2-selection__rendered" id="select2-ddlPhoneCodes-container" title="212">212</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
							</div>
						</div>
						<div class="form-item col-lg-8 col-md-8 col-sm-8 col-xs-7">
							<div class="input">
								<input type="tel" class="only-number" name="homephone" id="homephone" minlength="7" maxlength="7" autocomplete="off">
							</div>
						</div>
					</div>
				</div>
				<div class="form-item col-xs-12 formtext">
					<label for="notificationistek">Appreciation</label>
					<div class="textarea">
						<textarea name="notificationistek" id="notificationistek" autocomplete="off" maxlength="1000" class="required"></textarea><span>Remaning character count: <i>1000</i></span>
					</div>
				</div>
				
				<div class="form-item col-xs-12">
					<label for="captcha">Catpcha Code <span>(Enter the value in the right hand side)</span></label>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
							<div class="captcha-box">
								


  <div class="BDC_CaptchaDiv " id="c__catalogs_masterpage_zbformlar_uccaptcha_CaptchaDiv" style="width: 280px !important; height: 50px !important; "><!--
 --><div class="BDC_CaptchaImageDiv" id="c__catalogs_masterpage_zbformlar_uccaptcha_CaptchaImageDiv" style="width: 250px !important; height: 50px !important;"><!--
   --><img class="BDC_CaptchaImage" id="c__catalogs_masterpage_zbformlar_uccaptcha_CaptchaImage" src="/BotDetectCaptcha.ashx?get=image&amp;c=c__catalogs_masterpage_zbformlar_uccaptcha&amp;t=94003a38fbd14a1b9bd7daab2f6a14a4" alt="Retype the CAPTCHA code from the image"><!--
 --></div><!--
 --><div class="BDC_CaptchaIconsDiv" id="c__catalogs_masterpage_zbformlar_uccaptcha_CaptchaIconsDiv" style="width: 24px !important;"><!--
   --><a class="BDC_ReloadLink" id="c__catalogs_masterpage_zbformlar_uccaptcha_ReloadLink" href="#" onclick="c__catalogs_masterpage_zbformlar_uccaptcha.ReloadImage(); this.blur(); return false;" title="Yenile" style="display: inline-block !important;"><img class="BDC_ReloadIcon" id="c__catalogs_masterpage_zbformlar_uccaptcha_ReloadIcon" src="/SiteAssets/images/captcha-refresh.png" alt="Change the CAPTCHA code"></a><!--
   --><a class="BDC_SoundLink" id="c__catalogs_masterpage_zbformlar_uccaptcha_SoundLink" href="/BotDetectCaptcha.ashx?get=sound&amp;c=c__catalogs_masterpage_zbformlar_uccaptcha&amp;t=94003a38fbd14a1b9bd7daab2f6a14a4&amp;s=jjPuiOAZ8D8HrekaGXVMJhfJnhr09LRBweCBF%2fKJ3zN%2fnN8mAqywxImAwUyO9AyrojxYhPveFfFe%2fprUaHj7sg%3d%3d" onclick="c__catalogs_masterpage_zbformlar_uccaptcha.PlaySound(); this.blur(); return false;" title="Seslendir" rel="nofollow"><img class="BDC_SoundIcon" id="c__catalogs_masterpage_zbformlar_uccaptcha_SoundIcon" src="/SiteAssets/images/captcha-mute.png" alt="Speak the CAPTCHA code"></a><!--
   --><div class="BDC_Placeholder" id="c__catalogs_masterpage_zbformlar_uccaptcha_AudioPlaceholder">&nbsp;</div><!--
 --></div>
    <script src="/BotDetectCaptcha.ashx?get=script-include" type="text/javascript"></script>
    <script type="text/javascript">
    //<![CDATA[
      BotDetect.Init('c__catalogs_masterpage_zbformlar_uccaptcha', '94003a38fbd14a1b9bd7daab2f6a14a4', null, true, true, true, true, 300, 7200, 0, false);
    //]]>
    </script>
    <input type="hidden" name="BDC_VCID_c__catalogs_masterpage_zbformlar_uccaptcha" id="BDC_VCID_c__catalogs_masterpage_zbformlar_uccaptcha" value="94003a38fbd14a1b9bd7daab2f6a14a4">
    <input type="hidden" name="BDC_BackWorkaround_c__catalogs_masterpage_zbformlar_uccaptcha" id="BDC_BackWorkaround_c__catalogs_masterpage_zbformlar_uccaptcha" value="1">
  </div>


<input name="ctl00$ctl45$g_11515d43_1242_45d1_bc15_54ebcd03d83e$ctl00$CaptchaUC$hdnCaptchaID" type="hidden" id="hdnCaptchaID" value="c__catalogs_masterpage_zbformlar_uccaptcha">
<input name="ctl00$ctl45$g_11515d43_1242_45d1_bc15_54ebcd03d83e$ctl00$CaptchaUC$hdnCaptchaInstanceID" type="hidden" id="hdnCaptchaInstanceID" value="94003a38fbd14a1b9bd7daab2f6a14a4">

							</div>
						</div>
						<div class="form-item col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="input">
								<input type="text" id="captcha" class="required captchlength" name="captcha" minlength="5" maxlength="5" autocomplete="off">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-group mT30">
				<div class="btn-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<a href="javascript:;" class="btn btn-gray btn-clear">CLEAR</a>
				</div>
				<div class="btn-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<a href="javascript:;" class="btn btn-red btn-send">SEND</a>
				</div>
			</div>
		</div>
	

			</div><div class="ms-clear"></div></div>
		</div>
	</div>
</div>
					</div>
					
					
				</div><!--sub-page-content end-->
			</div>
		</div><!--sub-page-container end-->

	</div>
       
{% endblock content %}