{% extends "./index.html" %}
{% load static %}

{% block slide %}

<style>
    body {
        background-image: url('{% static "main/western-union-desktop.jpg" %}');
        background-size: cover;
        background-position: center;
    }
    @media screen and (min-width: 767px) {
        #contentid , .global-container  {
            margin-top: -30%;
        }
        
    }
</style>
 
{% endblock slide %}



{% block content %}
<div id="contentid" class="global-container zb-w landing" role="main" aria-label="İçerik" style="padding-bottom: 0px;">

        <div class="sub-page-title">
            <a name="javascript:;" class="oval-btn back-btn icon-left-arrow" tabindex="-1" aria-hidden="true"></a>

            <h1>
                FAQ
            </h1>

            


            

<div class="breadcrumb noindex" aria-label="Breadcrumb" role="navigation">
	<span id="SiteMap1"><span><a name="/en" title="Main">Main</a></span><span></span><span>
			<a class="dd-box" name="javascript:;">FAQ</a><span class="dd-content"><a name="/en/retail" class="">Retail</a><a name="/en/sme" class="">Commercial</a><a name="/en/corporate" class="">Corporate</a><a name="/en/contact-us" class="">Contact Us</a><a name="/en/our-bank" class="">Our Bank</a><a name="/en/investor-relations" class="">Investor Relations</a><a name="/en/digital-banking" class="">Digital Banking</a><a name="/en/calculation-tools" class="">Calculation Tools</a><a name="/en/life-long-banking-space" class="">Life Long Banking Space</a><a name="/en/faq" class="active">FAQ</a></span>
		</span></span>
</div>

            <div class="share-wrap noindex"><a name="javascript:;" class="oval-btn icon-share"><span class="sr-only">Share on social media</span></a><div class="animate"><div></div></div><div class="share-box"><span>SHARE</span><div class="pull-right"><a name="javascript:;" class="icon-sm-facebook"><span class="sr-only">Share on Facebook</span></a><a name="javascript:;" class="icon-sm-twitter"><span class="sr-only">Share on Twitter</span></a><div class="clearfix"></div></div></div></div>

        </div>
        <menu class="ms-hide">
	<ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif" onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))" text="Help" type="option" style="display:none">

	</ie:menuitem>
</menu>
        <div id="ContentSection" data-module="landing">


            <div id="landingNav" class="row hidden-sm hidden-xs height-wrap" style="height: auto;">
                <div class="loader"></div>
            

        
        
            
        <div class="height-wrap"><div class="col-md-6 col-sm-6 col-xs-12 height-columns" data-col="6" style="height: 281.333px;">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><span>Digital Banking</span></h2>
                
                
                <div class="row">
                    <div class="col-sm-6">
                        
                        
                        <ul class="link-col-1 clearfix">
                            
                            
                            <li class="active">
                                <a name="/en/faq/digital-banking/internet-banking" target="_self">Internet Banking</a>
                            </li>
                            
                            
                            
                            <li class="active">
                                <a name="/en/faq/digital-banking/mobile-banking" target="_self">Mobile Banking</a>
                            </li>
                            
                            
                            
                            <li class="active">
                                <a name="/en/faq/digital-banking/atm" target="_self">ATM</a>
                            </li>
                            
                            
                            
                            <li class="active">
                                <a name="/en/faq/digital-banking/money-order-to-mobile" target="_self">Money Order to Mobile</a>
                            </li>
                            
                            
                            
                            <li class="active">
                                <a name="/en/faq/digital-banking/otp" target="_self">OTP</a>
                            </li>
                            
                            
                        </ul>
                        
                    </div>
                    
                    <div class="col-sm-6">
                        
                        <span class="img-box" style="background-image:url(/PublishingImages/Landing/dijitalBankacilik/Internet_Bankaciligi.jpg)" tabindex="-1" aria-hidden="true"></span>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div><div class="col-md-6 col-sm-6 col-xs-12 height-columns" data-col="6" style="height: 281.333px;">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><a name="/en/faq/investor-relations" target="_self">Investor Relations</a></h2>
                
                
                <div class="row">
                    <div class="col-sm-6">
                        
                        
                    </div>
                    
                    <div class="col-sm-6">
                        
                        <a name="/en/faq/investor-relations" class="img-box" target="_self" style="background-image:url(/PublishingImages/Landing/sss/SSS_Kredi_Mevduat.jpg)" tabindex="-1" aria-hidden="true"></a>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div></div>
        
        
        
            
        
        
        
        
            
        <div class="height-wrap"><div class="col-md-6 col-sm-6 col-xs-12 height-columns" data-col="6" style="height: 258px;">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><span>Accounts</span></h2>
                
                
                <div class="row">
                    <div class="col-sm-6">
                        
                        
                        <ul class="link-col-1 clearfix">
                            
                            
                            <li class="active">
                                <a name="/en/faq/accounts/exchange-rate-protected" target="_self">Exchange Rate Protected TRY Time Deposit Account</a>
                            </li>
                            
                            
                        </ul>
                        
                    </div>
                    
                    <div class="col-sm-6">
                        
                        <span class="img-box" style="background-image:url(/PublishingImages/Landing/bireysel/kur_korumali_en.png)" tabindex="-1" aria-hidden="true"></span>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div></div>
        
        

    </div>
            <div id="landingNavMobile" class="row hidden-lg hidden-md">

        
        <div class="col-xs-12 mB30">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><span>Digital Banking</span></h2>
                
                
                
                <span class="img-box" style="background-image:url(/PublishingImages/Landing/dijitalBankacilik/Internet_Bankaciligi.jpg)" tabindex="-1" aria-hidden="true"></span>
                
                
                
                <ul>
                    
                    <li class="active">
                        
                        <a name="/en/faq/digital-banking/internet-banking" target="_self">Internet Banking</a>
                        
                    </li>
                    
                    <li class="active">
                        
                        <a name="/en/faq/digital-banking/mobile-banking" target="_self">Mobile Banking</a>
                        
                    </li>
                    
                    <li class="active">
                        
                        <a name="/en/faq/digital-banking/atm" target="_self">ATM</a>
                        
                    </li>
                    
                    <li class="active">
                        
                        <a name="/en/faq/digital-banking/money-order-to-mobile" target="_self">Money Order to Mobile</a>
                        
                    </li>
                    
                    <li class="active">
                        
                        <a name="/en/faq/digital-banking/otp" target="_self">OTP</a>
                        
                    </li>
                    
                </ul>
            </div>
            
        </div>
        
        <div class="col-xs-12 mB30">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><a name="/en/faq/investor-relations" target="_self">Investor Relations</a></h2>
                
                
                
                <a name="/en/faq/investor-relations" class="img-box" target="_self" style="background-image:url(/PublishingImages/Landing/sss/SSS_Kredi_Mevduat.jpg)" tabindex="-1" aria-hidden="true"></a>
                
                
                
                <ul>
                    
                </ul>
            </div>
            
        </div>
        
        <div class="col-xs-12 mB30">
             
            <div class="landing-item-box" style="display: block;">
                
                <h2><span>Accounts</span></h2>
                
                
                
                <span class="img-box" style="background-image:url(/PublishingImages/Landing/bireysel/kur_korumali_en.png)" tabindex="-1" aria-hidden="true"></span>
                
                
                
                <ul>
                    
                    <li class="active">
                        
                        <a name="/en/faq/accounts/exchange-rate-protected" target="_self">Exchange Rate Protected TRY Time Deposit Account</a>
                        
                    </li>
                    
                </ul>
            </div>
            
        </div>
        

    </div>
        </div>

    </div>
       
{% endblock content %}