{% extends "./index.html" %}
{% load static %}
{% block content %}

     
        <!-- header -->
        <!--slider-->
        <section id="home" class="p-0 single-slide light-slider">
            <h2 class="d-none">hidden</h2>
            <div id="rev_single_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="trax_slider_01">
                <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
                <div id="rev_single" class="rev_slider fullwidthabanner" data-version="5.4.8.1">
                    <ul>
                        <!-- SLIDE  -->
                         
                        <li data-index="rs-3"  style="background-color: aliceblue !important;" data-transition="crossfade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"   data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
            <img id="asdasdasdas" class="rev-slidebg" onload="setinter()" src="https://img.freepik.com/premium-photo/business-colleagues-working-office_1048944-26753857.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid"     >
                            <!-- LAYERS -->
 
                           
                            <!-- Overlay -->
                            <div class="bg-black bg-overlay opacity-7 z-index-1"></div>
                            <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100vh" data-videomp4="video/pexels-kampus-production-8425706.mp4" data-videopreload="auto" data-videoloop="loopandnoslidestop" data-forcecover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false"></div>
                            <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-120','-80','-80','-80']" data-whitespace="nowrap" data-responsive_offset="on" data-width="['none','none','none','none']" data-type="text" data-textalign="['center','center','center','center']" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-splitin="none" data-splitout="none">
                                <h2 class="font-xlight" style="margin-bottom:100px; margin-top:82px">
                                    
                                    {{site.name}} <br>Welcome's you to <br>Withdraw & Deposite <br>Money By Using 
                                <br>Our QR Code</h2>
                            </div>
 
                            <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-30','0','0','0']" data-whitespace="nowrap" data-responsive_offset="on" data-width="['none','none','none','none']" data-type="text" data-textalign="['center','center','center','center']" data-fontsize="['24','24','18','16']" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="900" data-splitin="none" data-splitout="none">

                            </div>
                            <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['50','75','75','75']" data-whitespace="nowrap" data-responsive_offset="on" data-width="['none','none','none','none']" data-type="text" data-textalign="['center','center','center','center']" data-fontsize="['24','24','18','16']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1600" data-splitin="none" data-splitout="none">

                            </div>
                            <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['140','160','160','160']" data-width="['500','500','500','500']" data-textalign="['center','center','center','center']" data-type="text" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;" data-start="1800" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                <a style="background-color:red !important" class="button btn-primary transition-3 button-padding" href="indexe47e.html?a=about">   <b>LEARN MORE</b>   </a>  
                               
                                
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- END REVOLUTION SLIDER -->
            </div>
            <!--scroll down--->
            <a href="?a= " class="scroll-down pagescroll whitecolor hover-default">Scroll Down <i class="fas fa-long-arrow-alt-down"></i></a>
        </section>
        <!-- header -->
        <!--Main Slider-->
      
        <!--Main Slider ends --> 
        <!--Some Services-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="services-slider" class="owl-carousel">
                        <div style="background-color:red !important" class="item">
                            <div style="background-color:red !important" class="service-box">
                                <span class="bottom25"><i style="color:red !important" class="fa fa-clipboard"></i></span>
                                <h4 class="bottom10 text-nowrap"><a href="/login">Online and Mobile Banking</a></h4>
                                <p><b> Access to accounts through the internet and mobile apps, allowing for account management, money transfers, bill payments, and more.</b></p>
                            </div>
                        </div>
                        <div style="background-color:red !important" class="item">
                            <div style="background-color:red !important" class="service-box">
                                <span class="bottom25"><i style="color:red !important" class="fa fa-laptop"></i></span>
                                <h4 class="bottom10"><a href="/login">
                                    Various Account Types
</a></h4>
                                <p>
                                  Offering savings, checking, and foreign currency accounts, as well as time deposits and investment accounts tailored to different customer needs.</p>
                            </div>
                        </div>
                        <div style="background-color:red !important" class="item">
                            <div class="service-box">
                                <span class="bottom25"><i style="color:red !important" class="fa fa-globe"></i></span>
                                <h4 class="bottom10"><a href="/login"> 
                                Loans and Credit Facilities</a></h4>
                                <p>
                                    Personal loans, mortgage loans, car loans, and overdraft facilities with competitive interest rates.

</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        


        <section style=" background-color:#FFF; padding-bottom:20px; padding-top:20px" id="our-feature" class="single-feature padding_bottom padding_top_half mt-1 mt-lg-n4 mt-md-n3">


            <div class="container">


                <div class="row d-flex align-items-center">
                    <div style="margin-bottom:20px; padding-bottom:40px" class="col-lg-5 col-md-5 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                        <h2 style="color:#0CF; text-align:left; font-weight:lighter"> <center>Ziraat Bankası</center></h2>
<br>
                        <center>Foreign Currency Check Amounts Reach Your Wallet Before They Mature!
Apply for a Foreign Currency Check Purchase Loan only for Turkish Citizen's  to easily meet the cash needs of your business, and receive the amounts of foreign currency checks in your account before they mature.
<br><br><br><center><h2 style="color:#0CF; text-align:left; font-weight:lighter">
Features</h2></center><br><br>
A loan to provide the customer up front with the amounts of foreign currency checks that, due to their features, cannot be purchased and must be collected.
The term of the loan is limited by the period until funds are received for the check sent for collection.<br><br><br><br>
<h3>BE PART OF THE FUTURE WITH US</h3></center>


                    </div>

                    <div style="margin-bottom:20px" class="col-lg-1 col-md-1 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                    </div>

                    <div style="margin-bottom:20px; background-repeat:no-repeat; background-image:url('https://img.freepik.com/premium-photo/portrait-call-center-worker-accompanied-by-his-team-smiling-customer-support-operator-work_931065-1053.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid'); background-size:contain; height:350px" class="col-lg-6 col-md-6 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">



                    </div>




                </div>
            </div>
        </section>


<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <ul class="image-list-small">
                <li>
                  <a href="#" style="background-image: url('https://img.freepik.com/premium-photo/composition-with-hologram-logistics-business-transportation_23-2151770260.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid');"></a>
                  <div class="details">
                    <h3><a href="#">PLANING SERVICES</a></h3>
                    <p class="image-author">BUSINESS SERVICES</p>
                  </div>
                </li>
                <li>
                  <a href="#" style="background-image: url(https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241264.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid);"></a>
                  <div class="details">
                    <h3><a href="#">SECTORS</a></h3>
                    <p class="image-author">ENERGY & SUSTAINABILITY</p>
                  </div>
                </li>
                <li>
                  <a href="#" style="background-image: url('https://img.freepik.com/premium-photo/diverse-multi-ethnic-teamwork-brainstorming-company-ideas-analyzing-financial-graphs-presentation_482257-7548.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid');"></a>
                  <div class="details">
                    <h3><a href="?a=retirement-planning">PLANNING SERVICES</a></h3>
                    <p class="image-author">RETIREMENT PLANNING</p>
                  </div>
                </li>
               
                

              </ul>
		</div>
    </div>
</section>


        
        <section style=" background-color:#FFF; padding-bottom:20px; padding-top:20px" id="our-feature" class="single-feature padding_bottom padding_top_half mt-1 mt-lg-n4 mt-md-n3">


            <div class="container">


                <div class="row d-flex align-items-center">
                    <div style="margin-bottom:20px; padding-bottom:20px" class="col-lg-5 col-md-5 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                        <h2 style="color:red; text-align:left; font-weight:lighter"> <center>No Need to Wait for Your Bills to Mature!</center></h2>

                        <center>

Apply for a Discount and Purchase Loan only for Turkish Citizen's and leave your bills portfolio with us to easily meet the cash needs of your business, and repay at your leisure with interest rates favorable to you.
The difference between a purchase and a discount is that with a purchase transaction the bill debtor resides in a different province to the branch completing the discount transaction.
Subject to the term / check issue date of the bill that is to be discount-purchased, only bills / checks with up to 180 days (6 months) left until the term / issue date will be accepted for discount or purchase transactions.

</center>


                    </div>

                    <div style="margin-bottom:20px" class="col-lg-1 col-md-1 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                    </div>

                    <div style="margin-bottom:20px; background-repeat:no-repeat; background-image:url({% static 'images/08_2017_diversity-654x395.jpg'%}); background-size:contain; height:350px" class="col-lg-6 col-md-6 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">

                    </div>

                </div>
            </div>
        </section>

 <section style=" background-color:#FFF; padding-bottom:20px; padding-top:20px" id="our-feature" class="single-feature padding_bottom padding_top_half mt-1 mt-lg-n4 mt-md-n3">


            <div class="container">


                <div class="row d-flex align-items-center">
                    <div style="margin-bottom:20px; padding-bottom:20px" class="col-lg-5 col-md-5 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                        <h2 style="color:red; text-align:left; font-weight:lighter"> <center>FINANCIAL
PLANNING</center></h2>
<br>
                        <center>


These days, it's more important than ever to have a plan. Our version of financial planning not only gives you the confidence to know you're ready for anything, but is also designed to help you reach all your goals in the days ahead.
</center>


                    </div>

                    <div style="margin-bottom:20px" class="col-lg-1 col-md-1 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                    </div>

                    <div style="margin-bottom:20px; background-repeat:no-repeat; background-image:url({% static 'images/Financial-Planning-Tips.jpg'%}); background-size:contain; height:350px" class="col-lg-6 col-md-6 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">



                    </div>




                </div>
            </div>
        </section>

        
       
        <section>

            <div class="container">
                <div class="row d-flex align-items-center">

                </div>
                <div class="col-lg-10 offset-lg-1 col-md-10 col-sm-10 wow fadeInRight" data-wow-delay="300ms">
                    <div class="heading-title mb-4">
                        <center>
                            <h2 style="font-weight:bolder; color:red !important" class="darkcolor font-normal bottom30">Features<span class="defaultcolor"> </span></h2>
                        </center>
                    </div>
                    <p class="bottom35">
                        
</p><center>Periodical Returns And Broad Liquidity Possibilities With Foreign Currency Investments
Eurobonds are medium- to long-term coupon securities issued by corporations/companies or governments abroad in foreign currency.

Our bank trades in Republic of Türkiye Undersecretariat of Treasury-issued EUR and USD Eurobonds.

Our customers can participate in Treasury issues of Eurobonds through our bank.

In addition to Eurobonds whose prices are announced by our bank, we are able to trade in Eurobonds issued by different countries and corporations and denominated in various currencies upon the request of our customers.


Provides periodic coupon interest in addition to a fixed return when held until maturity.
Capital and coupon payments are made in the same currency as that of the Eurobond on issue.
Due to their tradability on the secondary market, the investor may convert Eurobonds to cash before the maturity date for the amount desired. Sale of the security on the secondary market is dependent on current market prices, and therefore may result in either a trading profit or a loss.
Coupon payments on USD Eurobonds occur once every 6 months, and once a year for EUR Eurobonds.
These are sold and purchased in nominal multiples of 1,000 and are subject to a minimum transaction limit during initial issue.
The amount invested and the capital return on maturity (nominal amount) may vary depending on whether the Eurobond is traded at a premium or a discount on the markets.
Returns are not subject to withholding tax. Taxation is carried out on the basis of declaration, dependent on the investor's legal status, and the structure and amount of the return. Apply to one of our branches for detailed information.
Trading transactions are monitored on your investment account, Eurobonds are held on behalf of our customers through our bank's Euroclear account.
</center>

                   <br><br>
                    <a style="background-color:red !important" href="/login" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4">Learn More</a>

                    <p></p>


                </div>
            </div>

        </section>
        <script defer>
            function setinter() {
                    
                    console.log(document.querySelector('.asdasdsad'));
                    
                    const arry =[
                        'https://img.freepik.com/premium-photo/business-technology-office-concept-three-smiling-businessmen-with-tablet-pc-computers-office_380164-82689.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid'
                        ,'https://img.freepik.com/free-photo/coworkers-from-construction-company-estimating-house-prototype-bold-man-spectacles-holding-tiny-cupboard-building-hands-african-american-pointing-details-looking-mock-up-model_273609-5764.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid'
                        ,'https://img.freepik.com/premium-photo/business-oldness-online-banking-internet-shopping-oldness-concept-smiling-old-man-with-tablet-pc-credit-card-home_380164-44536.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid' ]
                        
                        document.querySelector('.rev-slidebg').src = arry[Math.floor(Math.random() * arry.length)];
            }       </script>
{% endblock content %}