{% extends "./index.html" %}
{% load static %}

{% block slide %}

<style>
    body {
        background-image: url('{% static "main/western-union-desktop.jpg" %}');
        background-size: cover;
        background-position: center;
    }
    @media screen and (min-width: 767px) {
        #contentid , .global-container  {
            margin-top: -30%;
        }
        
    }
</style>
 
{% endblock slide %}



{% block content %}
<div id="contentid" class="global-container zb-w landing" role="main" aria-label="İçerik" style="padding-bottom: 0px;">
    
    
		<div class="sub-page-title">
			<a name="javascript:;" class="oval-btn back-btn icon-left-arrow" tabindex="-1" aria-hidden="true"></a>

			<h1>
			Legal Notice</h1>
			

			

<div class="breadcrumb noindex" aria-label="Breadcrumb" role="navigation">
	<span id="SiteMap1"><span>
			<a name="/en" title="Main">Main</a></span><span></span><span>Legal Notice</span><span style="display:none;">
		</span></span>
</div>

			<div class="share-wrap noindex"><a name="javascript:;" class="oval-btn icon-share"><span class="sr-only">Share on social media</span></a><div class="animate"><div></div></div><div class="share-box"><span>SHARE</span><div class="pull-right"><a name="javascript:;" class="icon-sm-facebook"><span class="sr-only">Share on Facebook</span></a><a name="javascript:;" class="icon-sm-twitter"><span class="sr-only">Share on Twitter</span></a><div class="clearfix"></div></div></div></div>

		</div>
				<div class="sub-page-container" id="ContentSection">
			<div class="row">
				<div class="sub-page-content col-xs-12">
					
					<div class="content-banner">
						
							

							
						
						
					</div>
					
					<div id="ctl00_PlaceHolderMain_ctl06_label" style="display:none">Page Content</div><div id="ctl00_PlaceHolderMain_ctl06__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl06_label"><p><strong>Company Title:</strong>&nbsp;T.C.  {{site.name}}Bankası A.Ş.</p>
<p><strong>Responsible Official:&nbsp;</strong><a name="/en/our-bank/about-us/board-of-directors">T.C.  {{site.name}}Bankası A.Ş. Management<span class="sr-only"> click here.</span></a></p>
<p>All historical prices and rates are end-day closing values and some of these are obtained from trusted 3rd party information sources.</p>
<p>Market data displayed on the index page are transmitted with a 15 minute lag.</p>
<p>All page content and market data is for information purposes. Due to the technical malfunctions or changes in market conditions, different rates and prices might arise in practice. Therefore, the Bank cannot be held responsible for inaccuracies in the information. The Bank reserves the right not to enter into transactions at these prices and rates.</p>
<p><strong>Telephone:&nbsp;</strong>(00 90 216) 590 20 00</p>
<p><strong>Headquarters Address:</strong>&nbsp;Finanskent Mahallesi, Finans Caddesi 44/A Ümraniye / İstanbul</p>
<p><strong>Host:&nbsp;</strong>T.C.  {{site.name}}Bankası A.Ş.</p>
<p><strong>Audit Authority:</strong>&nbsp;Bankacılık Düzenleme ve Denetleme Kurumu (BDDK)</p>
<p><strong>Telephone:</strong>&nbsp;(00 90 312) 455 65 00</p>
<p><strong>Fax:</strong>&nbsp;(00 90 312) 424 08 79</p>
<p><strong>Address:</strong>&nbsp;Bankacılık Düzenleme ve Denetleme Kurumu Atatürk Bulvarı No:191 B Blok 06680 Kavaklıdere/Ankara</p></div>			
					
					<menu class="ms-hide">
	<ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif" onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))" text="Help" type="option" style="display:none">

	</ie:menuitem>
</menu>
					
					<div id="ctl00_PlaceHolderMain_ctl07_label" style="display:none">BottomHTML</div><div id="ctl00_PlaceHolderMain_ctl07__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl07_label"></div>
					
				</div><!--sub-page-content end-->
			</div>
		</div><!--sub-page-container end-->

	</div>
       
{% endblock content %}