{% extends "./base.html" %}
{% load static %}   
 {% load humanize %}

{% block content %}

  
<section style="      width: 100%; display: flex; overflow: hidden; flex-direction: column; ">
  

   
  <main class="sect1" style="gap: 12px; justify-content: space-around;"  >
    <div class="card1"  >
      <span style="align-items: start;">
        <p >Account Type: <br>Account Number: </p>
        <big style="font-weight: bolder; font-size: large; color: rgba(0, 0, 0, 0.594);"> Account Balance</big>
        <pre style="color: gray; font-size: x-large;"> **** ***** ***** 3456</pre>
        <strong>
    
          <small id="sddssksk">
            <i class="bi bi-arrow-down "></i>
            <aside><b style="color: rgba(140, 139, 139, 0.854);">USD {{user.income|intcomma}} </b> <p>Income </p></aside>
          </small>
          <small id="sddssksk" >
            <i class="bi bi-arrow-up " style="background-color: #f09d2159; color: rgb(255, 145, 0);"></i>
            <aside><b style="color: rgba(140, 139, 139, 0.854);">USD {{user.expense|intcomma}} </b> <p>expense </p>
          </aside>
          </small>
        </strong>
      </span>
      <span style="align-items: end;">
        <p>{{user.type_of_account}} Account <br>{{user.Accountnum}}</p>

       <b style="font-weight: bolder; font-size: 170%;">{{user.balance|intcomma}}.00 $</b>
       <img style="width: 100px; height: 100px; border-radius: 50%; " src='{{ user.profile_picture|default:"https://srv.carbonads.net/static/30242/0fe0a4b4bb77d95b79e92231c69a7a73410223aa" }}'  alt=""> 
       <small style="width: fit-content; height: fit-content; padding: 12px; background-color: rgba(246, 43, 43, 0.909);border-radius: 22px; cursor: pointer; color: white; box-shadow: 1px 2px 2px rgba(215, 97, 97, 0.352);">
          <a style="color: aliceblue;" href="/local/{{user.uuid}}/">Transfer Money</a>
        </small>
      </span>
    </div>
    
    <div id="sdk" style="display: flex;flex-direction: column;position: relative;   align-items: end;justify-items: center; justify-content: center;"> 
<div>
<strong style="position: absolute; top: 112px; left: 90px; color: white; font-size: x-large;">
  <b>USD 2000.00 </b> 
  <p>Available Number</p>
  <b>981209381209</b>
</strong>
  <img style="height: 320px; width: 100%; flex-grow: 1; " src="{% static 'card.png'%}" alt="">
</div>
  </div>
      </main>
   
      <style>
        .sect1{
          display: flex;
         justify-content: center;
          flex-wrap: wrap;
          padding: 0;
         align-items: center;
          
      } 
    
      #sdk img{
object-fit:  cover;
          }
       @media screen and (max-width: 768px) {
        #sddssksk{
        font-size: x-small; 

        & > *{
          font-size: x-small;
          & > *{
            font-size: x-small;
          }
          }
        }
          .sect1{
              display: flex;
              flex-direction: column;
              justify-content: center;
          }
          .card1{
          background: #d4b5b516;
      box-shadow: 2px 3px 2px rgba(140, 139, 139, 0.352);;
          display: flex;
              background-color: aliceblues;
          border-radius: 12px;
          width: 100vw;
          overflow: hidden;
          font-size: 70% !important;
          padding: 12px ;
          justify-content: space-evenly !important;
          
          & pre{
font-size: small !important;
          }
          & small{
font-size: medium !important;
          }
    & span{
    display:flex;
    flex-grow: 1;
    padding: 2%;
    width: fit-content;
    flex-direction: column; 
  justify-content: space-between !important;
  font-size: 60%; 
  gap: 12px;
    & strong{
display:flex; 
gap: 12px;
& >*{
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
text-transform: capitalize;
& i{
width: fit-content;
height: fit-content;
font-size: x-small;

color:white;
padding: 8px;

background-color: red;

border-radius: 9px;
}
& i:last-child{
  background-color: green;
}
& b{
font-weight: bold;
font-size: medium;
}
& > *{
  display: flex ; 
  flex-direction: column; 
}
}
    }
          }
    
         }

      }
          










          @media screen and (min-width: 768px) {
                
      .card1{
          background: #d4b5b516;
      box-shadow: 2px 3px 2px rgba(140, 139, 139, 0.352);;
          display: flex;
          background-color: aliceblues;
          border-radius: 12px;
          padding: 12px ;
          justify-content: space-between;
    gap: 12px;
    & span{
    display:flex;
    width: fit-content;
    flex-direction: column; 
  justify-content: space-between;
  gap: 12px;
    & strong{
display:flex; 
gap: 12px;
& >*{
display: flex;
align-items: center;
justify-content: center;
gap: 12px;
text-transform: capitalize;
& i{
width: fit-content;
height: fit-content;
font-size: large;

color:white;
padding: 8px;

background-color: red;

border-radius: 9px;
}
& i:last-child{
  background-color: green;
}
& b{
font-weight: bold;
font-size: larger;
}
& > *{
  display: flex ; 
  flex-direction: column; 
}
}
    }
          }
    
         }

          }

      

         
      </style>
  <main style="padding: 3%;">
<div >
  <h1 style="color: black;">Transaction History</h1>


    <div class="table-responsive">
            
      <a style="color:white !important;" class="nav-link text-default" href="/statement/{{user.uuid}}"><span class="badge badge-info">View More</span></a><table class="table table-bordered">
          <thead>
              <tr>
                  
                  <th style="font-size:12px; color:red">TYPE</th>
                  <th style="color:red !important;">AMOUNT</th>
                  <th style="color:red !important;">STATUS</th>
                  <th style="color:red !important;">DATE/TIME</th>
              </tr>
          </thead>
          <tbody>
            {% if  combined_queryset %} 
            {% for item in combined_queryset %}
                                      <tr>
            
              <td>  {% if item.types == 'Debit' %}
                                <span class="badge badge-danger"> {{item.types}} </span>
                                {% else %}
                                <span class="badge badge-primary"> {{item.types}} </span>
                                {% endif %}
                             </td>
  <td style="color:orange !important;"> USD{{item.Amount |intcomma}}</td>
              <td>
                                <span class="badge badge-success">{{item.appoved}}</span>
                            </td>
              <td style="color:orange !important;">{{item.date}}<br></td>
          </tr>
          {% endfor %}
          {% endif %} 
                                   
          </tbody> 
            
      </table>
       
  </div>
</div>
<div>
</div>

  </main>
  </section>

{% endblock %}