{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(https://onlinebanking.zirantankasi.com/asset/images/key-3348307_1920.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-1"></span>
    <!-- Header container -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-7">
          <h1 class="display-2 text-white">Change password</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--6">
    <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12">
  
        <!-- Basic layout-->
        <div class="card">
          <div class="card-header header-elements-inline">
            <h3 class="mb-0">Change account password</h3>
          </div>
  
          <div class="card-body">
            <form   method="post">
              {% csrf_token %}
                      <div class="form-group row">
                  <label class="col-form-label col-lg-2">Old password:</label>
                  <div class="col-lg-10">
                    <input type="password" name="current_password" class="form-control" required="">
                                    </div>
                </div>
               <div class="form-group row">
                  <label class="col-form-label col-lg-2">New password:</label>
                  <div class="col-lg-10">
                    <input type="password" name="password" class="form-control" required="">
                                    </div>
                </div>  
               <div class="form-group row">
                  <label class="col-form-label col-lg-2">Confirm password:</label>
                  <div class="col-lg-10">
                    <input type="password" name="password_confirmation" class="form-control" required="">
                                    </div>
                </div>                
              <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /basic layout -->
        </div>
      </div>
    </div>
  
  
  <!-- footer begin -->
  <footer class="footer pt-0">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-12">
              <div class="copyright text-center text-xl-left text-muted">
              <center>{{site.name}}  © 2025. All Rights Reserved. </center>
              </div>
            </div>
           <!--- <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                                                     <li class="nav-item">
                    <a class="nav-link" href="https://onlinebanking.zirantankasi.com/page/4">AML Policy</a>
                  </li>
                                                                         <li class="nav-item">
                    <a class="nav-link" href="https://onlinebanking.zirantankasi.com/page/6">Diversity</a>
                  </li>
                                                                         <li class="nav-item">
                    <a class="nav-link" href="https://onlinebanking.zirantankasi.com/page/7">Sponsoring</a>
                  </li>
                                                  <!--- <li class="nav-item">
                  <a class="nav-link" href="https://onlinebanking.zirantankasi.com/terms">Terms & conditions</a>
                </li>              
                <li class="nav-item">
                  <a class="nav-link" href="https://onlinebanking.zirantankasi.com/privacy">Privacy policy</a>
                </li>
              </ul>
            </div>--->
          </div>
        </footer>
      </div>
{% endblock content %}