<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
     
      <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
  

    <div id="app">
      <div class="la sk aas aoc">
        <div class="la tg wr flex *:w-fit items-center justify-center *:min-w-[70vw]">
          <div class="la wr aas abf aua auu cwm dqf dwd efe bg-white p-6 shadow shadow-red-400/30 p-4 bg-white/40  rounded-lg">
            <div class="fy vo wj dpi">
              <center>
                <img
                  alt="Your Company" onclick="window.location.href = '/';"
                  src="{% static 'images/logo.png'%}"
                  class="w-[120px] h-fit cursor-pointer bg-red-500 p-3 " 
                />
                <h2 class="hm ayt azo azt baw text-2xl text-white" style="color: white;">Sign Up to your account</h2>
                <p class="hf aze bas">
                   a member?
                  <a href="/login" class="text-red-300 text-xl" style="color: white;"> >>> Sign In</a>
                </p>
              </center>
              <div class="ho">
                <div>
                  <form   method="POST" class="acr">
                    {% if messages %}
                    {% for message in messages %}
                      <div 
                        class="my-3 p-4 rounded-lg text-white 
                               {% if message.tags == 'success' %} bg-green-600 {% endif %}
                               {% if message.tags == 'error' %} bg-red-600 {% endif %}
                               cursor-pointer" 
                        onclick="this.remove()"
                      >
                        <strong>{{ message.tags|capfirst }}:</strong> {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                  
                  
                   
                      {% csrf_token %}
                      
                      <!-- Username -->
                      <div>
                        <div class="hf">
                          {{ form.username |as_crispy_field}}
                        </div>
                      </div>
                      <!-- Username -->
                      <div>
                        <div class="hf">
                          {{ form.firstname |as_crispy_field}}
                        </div>
                      </div>
                      <!-- Username -->
                      <div>
                        <div class="hf">
                          {{ form.lastname |as_crispy_field}}
                        </div>
                      </div>
                      
                      <!-- Email -->
                      <div>
                        <div class="hf">
                          {{ form.email |as_crispy_field}}
                        </div>
                      </div>
                    
                      <!-- Gender -->
                      <div>
                        <div class="hf">
                          {{ form.gender |as_crispy_field}}
                        </div>
                      </div>
                    
                      <!-- Mobile -->
                      <div>
                         
                        <div class="hf">
                          {{ form.mobile |as_crispy_field}}
                        </div>
                      </div>
                    
                      <!-- Password -->
                      <div>
                        
                        <div class="hf">
                          {{ form.password |as_crispy_field}}
                        </div>
                      </div>
                    
                      <!-- Confirm Password -->
                      <div>
                        
                        <div class="hf">
                          {{ form.confirm_password |as_crispy_field}}
                        </div>
                      </div>
                    
                      <!-- Occupation -->
                      <div>
                        <div class="hf">
                          {{ form.occupation|as_crispy_field }}
                        </div>
                      </div>
                    
                      <!-- Address -->
                      <div>
                        <div class="hf">
                          {{ form.Country|as_crispy_field }}
                        </div>
                      </div>
                      <div>
                        <div class="hf">
                          {{ form.address|as_crispy_field }}
                        </div>
                      </div>
                    
                      <!-- Marital Status -->
                      <div>
                        <div class="hf">
                          {{ form.marital_status|as_crispy_field }}
                        </div>
                      </div>
                    
                      <!-- Type of Account -->
                      <div>
                        <div class="hf">
                          {{ form.type_of_account|as_crispy_field }}
                        </div>
                      </div>
                    
                      <!-- Submit Button -->
                      
                    
                    
                      <div>
                        <button type="submit" class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</button>
                      </div>
                  </form>
                </div>
              
              </div>
            </div>
          </div>
           
          <style>
            body{
              background-image: url('{% static "main/western-union-desktop.jpg" %}')   ;
              background-repeat: no-repeat;
              background-size: cover;
              
            }
          </style>
        </div>
      </div>
    </div>
    <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = '940148e39e2f8aed806290366d16a7ef536b34eb';
  window.smartsupp||(function(d) {
    var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
    s=d.getElementsByTagName('script')[0];c=d.createElement('script');
    c.type='text/javascript';c.charset='utf-8';c.async=true;
    c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
  })(document);
  </script>
  <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
  </body>
</html>
