{% extends './base.html ' %}
{% load static %}





{% block content %}


<div class="content-wrapper">
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><span class="font-weight-semibold">Change account details</span></h4>
            </div>
        </div>
    </div>
<div class="content"> 
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title font-weight-semibold">Account information</h6>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
            <input type="hidden" name="_token" value="iDFcjEucAMlZ1wTCxuDFDxHzBXsWPS1kIkW9kuCN">                        <div class="form-group row">
                    <label class="col-form-label col-lg-2">Username:</label>
                    <div class="col-lg-10">
                        <input type="text" name="username" readonly value="{{user.username}}" class="form-control">
                    </div>
                </div>                         
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Password:</label>
                    <div class="col-lg-10">
                        <input type="tpassword" name="password" class="form-control" required="">
                    </div>
                </div>          
            <div class="text-right">
                <button type="submit" class="btn bg-dark legitRipple">Submit<i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>    
</div>
</div>


<!-- footer begin -->

<script src="https://onlinebanking.zirantankasi.com/asset/js/sweetalert.js"></script>
</div>
<!-- /page content -->




<script>
</script>
</div>

{% endblock content %}